@page ""
@model Tracker.Web.IndexModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Tracker</title>
</head>
<body>
    <div id=ip></div>
    <script type="text/javascript" src="content/app.js"></script>
</body>

</html>